* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
}

.bell-icon {
  width: 30px;
}

.nav-icon {
  /* set the size for navigation icon */
  width: 60px;
  height: auto;
}

.alert-window {
  background-color: #7477bf;
}

.secondary-nav {
  background-color: #7477bf;
}

@media (min-width: 768px){


}

@media (min-width: 1024px){

}
