* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #828282;
  font-family: 'Lato', sans-serif;
}

a {
  padding-top: 20px;
  text-decoration: none;
}

img {
  width: 100%;
}

h2 {
  margin-top: 15px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 90%;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #828282, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #828282, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #828282, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #828282, #f0f0f0);
}

.space {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sides {
  padding-left: 10px;
  padding-right: 10px;
}

/************ HEADER *************/
header {
  width: 100%;
}

header .down {
  padding-top: 10px;
}

.secondary-nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.secondary-nav,
.alert-window {
  background-color: #7477bf;
}

.logo span {
  text-transform: uppercase;
}

.logo {
  font-family: 'Coiny', cursive;
  font-size: 130%;
}

.bell-icon {
  width: 20px;
  float: left;
  margin-right: 10px;
  transition: all .2s ease-in-out;
  position: relative;
}

.green-dot {
  background-color: #85db80;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 17px;
  right: 190px;
  border-radius: 50%;
}

.bell-icon:hover {
  transform: scale(1.4);
}

.avatar {
  float: left;
  padding-left: 15px;
  border-left: 2px dashed #fff;
}

.avatar-name {
  float: right;
  /* move away the name from the avatar */
  margin-left: 10px;
}

.avatar-img {
  /* make the image rounded */
  width:40px;
  height: 40px;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 75px;
  width: 100%;
}

.nav-icon {
  height: auto;
  width: 35px;
  opacity: .7;
  transition: opacity .3s ease-out;
}

.nav-icon:hover {
  opacity: 1;
}

/************ SEARCH *************/

#search {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid #828282;
  background-color: #fbfbfb;
}

#search, #search_user,
.alert-window {
  border-radius: 8px;
}

/************ ALERT WINDOW *************/

.alert-window {
  color: #fff;
  padding: 12px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.alert-window span, .cross {
  font-weight: 700;
}

.cross {
  cursor: pointer;
}

/************ TRAFFIC SECTION *************/
.traffic-info {
  list-style: none;
  text-align: right;
  margin-bottom: 15px;
}

.traffic-info li {
  display: inline-block;
  padding: 5px;
}

.green {
  background-color: #81c98f;
  color: #fff;
  border-radius: 8px;
}

/************ CHARTS *************/
.canvas {

}

/************ SOCIAL STATS *************/

.social-icon {
  background-color: #7477bf;
  transform-origin: 50% 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.social-num {
  margin-top: 20px;
}

.facebook {
  padding: 6px;
}

.social-widgets {
  /*display: flex;
  justify-content: space-around;*/
}

.widget {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #cecece;
  border-radius: 5px;
}


.social-num p:first-child {
  color: #7477bf;
  font-size: 120%;
  font-weight: 700;
}

.social-num p:last-child {
  color: #777;
  font-size: 190%;
  font-weight: 300;
}

/************ NEW MEMBERS *************/
.members {
  width: 100%;
}

.member img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.member {
  display: flex;
  justify-content: space-between;
  font-size: 70%;
  padding: 10px;
}

.member:not(:last-of-type){
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
}

.member .name, .date, .symbol {
  margin-top: 6px;
}

.member .name a {
  text-decoration: none;
  display: block;
  color: #7477bf;
}

.member .info {
  width: 68%;
  display: flex;
}

/************ RECENT ACTIVITY *************/

.grid-item-9 .member .info {
  width: 80%;
}

.post-time {
  font-style: italic;
  font-size: 80%;
}

.symbol p {
  font-size: 260%;
  color: #7477bf;
  font-weight: 300;
}

/************ MESSAGE USER *************/
#message_user {
  width: 100%;
  height: 95px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #828282;
  background-color: #fbfbfb;
}

.btn {
  padding: 10px;
  background-color: #7477bf;
  border: 1px solid #828282;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}

.large {
  width: 100%;
}

#search_user {
  margin-top: 0;
  width: 100%;
  margin-bottom: 25px;
  padding: 8px;
  border: 1px solid #828282;
  background-color: #fbfbfb;
}

/************ SETTING *************/

option[value=""][disabled] {
  display: none;
}

.setting_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #828282;
  background-color: #fbfbfb;
  color: #828282;
}

.grid-item-11 form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.medium {
  width: 48%;
}

.cancel {
  background-color: #b2b2b2;
}

.slide, .slide label {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
}

.slidinggroove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -6px;
  background: #ababab;
  border-radius: 20px;
  transition: all .3s ease;
}

.slidinggroove:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  top: 1px;
  left: 1px;
  transition: transform .3s ease-out;
}

input:checked + .slidinggroove {
  background: #5fcf80;
}

input:checked + .slidinggroove:after {
  transform: translateX(35px);
}


/************ GRID *************/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20px, auto);
  /*grid-gap: 10px;*/
  grid-template-areas:
  "header"
  "nav"
  "search"
  "traffic"
  "traffic-daily"
  "mobile-users"
  "social"
  "new-members"
  "activity"
  "message"
  "settings"
}

.grid-item-1 {
  grid-area: header;
}
.grid-item-2 {
  background-color: #4d4c72;
  grid-area: nav;
}
.grid-item-3 {
  grid-area: search;
  padding: 15px;
}
.grid-item-4 {
  grid-area: traffic;
  padding: 15px;
}
.grid-item-5 {
  grid-area: traffic-daily;
  padding: 15px;
}
.grid-item-6 {
  grid-area: mobile-users;
  padding: 15px;
}
.grid-item-7 {
  padding: 15px;
  grid-area: social;
}
.grid-item-8 {
  padding: 15px;
  grid-area: new-members;
}
.grid-item-9 {
  padding:15px;
  grid-area: activity;
}
.grid-item-10 {
  padding: 15px;
  grid-area: message;
}
.grid-item-11 {
  padding: 15px;
  grid-area: settings;
}

@media (min-width: 768px){
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "header header"
    "nav nav"
    "search search"
    "traffic traffic"
    "traffic-daily mobile-users"
    "social social"
    "new-members activity"
    "message settings"
  }

  .grid-item-10 {
    margin-bottom: 50px;
  }
  .grid-item-11 {
    margin-bottom: 50px;
  }

  .social-widgets {
    display: flex;
    justify-content: space-between;
  }

  .widget {
    padding: 10px;
    width: 30%;
  }

}

@media (min-width: 1024px){
  .grid {
    grid-template-columns: .12fr repeat(2, 1fr);
    grid-template-areas:
    "header header header"
    "nav search search"
    "nav traffic traffic"
    "nav traffic-daily mobile-users"
    "nav social social"
    "nav new-members activity"
    "nav message settings"
  }

  .grid-item-3 {
    padding-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
  }
  .grid-item-4 {
    padding: 35px;
  }
  .grid-item-5 {
    padding: 35px;
    border: 1px solid #b2b2b2;
  }
  .grid-item-6 {
    padding: 35px;
    border: 1px solid #b2b2b2;
  }
  .grid-item-7 {
    padding: 35px;
  }
  .grid-item-8 {
    padding: 35px;
    border: 1px solid #b2b2b2;
  }
  .grid-item-9 {
    padding: 35px;
    border: 1px solid #b2b2b2;
  }
  .grid-item-10 {
    padding: 35px;
    border-right: 1px solid #b2b2b2;
  }
  .grid-item-11 {
    padding: 35px;
    border-left: 1px solid #b2b2b2;
  }

  hr {
    display: none;
  }

  h3 {
    margin-top: 0;
  }

  nav {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  nav img {
    display: block;
    margin: 40px auto;
  }

  .form-box {
    display: flex;
    justify-content: space-between;
  }

  .form-box h2 {
    flex-grow: 2;
  }

  .form-box form {
    flex-grow: 1;
  }
}
