* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #828282;
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}

h2 {
  margin-top: 15px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.space {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sides {
  padding-left: 10px;
  padding-right: 10px;
}

/************ HEADER *************/
header {
  width: 100%;
}

header .down {
  padding-top: 10px;
}

.secondary-nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.secondary-nav,
.alert-window {
  background-color: #7477bf;
}

.logo span {
  text-transform: uppercase;
}

.logo {
  font-family: 'Coiny', cursive;
  font-size: 130%;
}

.bell-icon {
  width: 20px;
  float: left;
  margin-right: 10px;
}

.avatar {
  float: left;
  padding-left: 15px;
  border-left: 2px dashed #fff;
}

.avatar-name {
  float: right;
  /* move away the name from the avatar */
  margin-left: 10px;
}

.avatar-img {
  /* make the image rounded */
  width:40px;
  height: 40px;
  border-radius: 50%;
}

.primary-nav {
  background-color: #4d4c72;
  display: flex;
  justify-content: space-around;
  height: 75px;
}

.nav-icon {
  height: auto;
  width: 35px;
  opacity: .7;
  transition: opacity .3s ease-out;
}

.nav-icon:hover {
  opacity: 1;
}

/************ SEARCH *************/

.main-grid {
  padding: 15px;
}

#search {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 8px;
  text-align: right;
}

.alert-window {
  color: #fff;
  padding: 12px;
  font-weight: 300;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.alert-window span, .cross {
  font-weight: 700;
}

@media (min-width: 768px){


}

@media (min-width: 1024px){

}
